<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rescuing The Rescued</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <!--MY NAVBAR-->
    <header class="my-header scrollspy" id="">
        <div class="">
            <nav class="nav-wrapper">
                <div class="navbar-links center-align">
                    <ul class="nav-ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Report Case</a></li>
                        <li><a href="/child">Chidren</a></li>
                        <li><a href="/login">Signup</a></li>
                        <li><a href="/login" class="waves-effect waves-light btn-large donate-button">Donate</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class=" fake-div1 #212121 red darken-2 "></div>
    <div class=" fake-div2 #212121 red darken-2 "></div>

    <br>
    <br>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l6 offset-l4 m12 s12">
                <img class="responsive-img" src="<%=url%>" alt="">
            </div>
        </div>
    </div>
    </div>


    <div class="container data-wrapper">
        <div class="row">
            <div class="col l2 m3 s3 offset-l2 offset-m1 offset-s1 data-div"><span>Name : </span></div>
            <div class="col l6 m6 s5 data-text-div"><span id="data-child-name"><%=name%></span><br></div>
        </div>
        <div class="row">
            <div class="col l2 m3 s3 offset-l2 offset-m1 offset-s1 data-div"><span>Child Age :</span></div>
            <div class="col l6 m6 s5 data-text-div"><span id="data-child-age"><%=age%></span><br></div>
        </div>
        <div class="row">
            <div class="col l2 m3 s3 offset-l2 offset-m1 offset-s1 data-div"><span>Child DOB :</span></div>
            <div class="col l6 m6 s5 data-text-div"><span id="data-child-dob"><%=dob%></span><br></div>
        </div>
        <div class="row">
            <div class="col l2 m3 s3 offset-l2 offset-m1 offset-s1 data-div"><span>Child City :</span></div>
            <div class="col l6 m6 s5 data-text-div"><span id="data-child-city"><%=city%></span><br></div>
        </div>
        <div class="row">
            <div class="col l2 m3 s3 offset-l2 offset-m1 offset-s1 data-div"><span>Summary :</span></div>
            <div class="col l6 m6 s5 data-text-div"><span id="data-child-summary"><%=desc%></span><br></div>
        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <div class="dot-div"></div>
        <div class="black-text footer-div center-align">

            <ul>
                <li><a class="footer-link">Contact Us </a> | </li>
                <li><a class="footer-link">Call Charges </a> | </li>
                <li><a class="footer-link">Using your online account </a> | </li>
                <li><a class="footer-link">Site maps </a> | </li>
                <li><a class="footer-link">Terms and Conditions </a> | </li>
                <li><a class="footer-link">Cookies </a> | </li>
                <li><a class="footer-link">Freedom of information </a> | </li>
                <li><a class="footer-link">Equality and diversity </a></li>
            </ul>
        </div>
        <div class=" dot-div"></div>
        <div class="footer-copyright">
            <div class="container center-align">
                © 2019 Copyright Text Made By <span class="red-text"> Javeria Nadeem </span>, <span class="red-text">
                    Qandeel Asif </span> and <span class="red-text"> Yasir </span>
            </div>
        </div>
    </footer>
</body>

</html>